#content {
    background-color: #F6F4F1;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#login-form form {
    display: flex;
    flex-direction: column;
    width: 85%;
}

form input {
    margin-bottom: 1rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #F6F4F1;
}

form button {
    padding: 10px;
    width: 100%;
    background-color: #192F43;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0
}

#form-password_options {
    display: flex;
    justify-content: space-between;
}

#form-password_options_checkbox {
    display: flex;
    align-items: baseline;
}

#form-new_account {
    display: flex;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    #login-form {
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 12px 12px 2px 1px #192F43;
        padding: 3%;

        width: 100%;
        max-width: 500px;
        margin: auto
    }
}